a {
  color: #555;
}
p {
  background: #000;
  color: #555;
}
h1 {
  background: #000;
  color: #555;
}
h2 {
  background: #000;
  color: #555;
}
h3 {
  background: #000;
  color: #555;
}
span {
  background: #000;
  color: #555;
}
