{{include 'same/header'}}
<header>
    <button type="button" onclick=" location.href = 'login.html' ">登录</button>
    <button type="button" onclick=" location.href = 'reg.html' ">注册</button>
</header>
<p>
    <button type="button" id="liu">我要留言</button>
</p>
<h1>留言板内容</h1>
<article>
        <h4> {{title}} </h4>
        <!--遍历对象中的数组-->
        {{each datas as mess index}}
        <strong>{{mess.username}}</strong>
        <p>{{mess.message}}</p>
        <p>{{mess.time |dataFormate}}</p>
        {{/each}}
</article>

</body>
<script src="js/jquery.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/template.js"></script>
<script src="js/index.js"></script>
</html>