{{include 'same/header'}}
    <style>

    </style>
</head>
<body>


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">智游教育</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-user"></span><span id="log"></span></a>
                    </li>
                </ul>
            </div>
        </div>
</nav>

<div class="container">
    <form action="">
        <textarea name="text" id="" cols="30" rows="10" placeholder="请输入内容"></textarea>
        <input type="submit" value="提交"/>
    </form>
</div>

{{include 'same/motai'}}

</body>
<script src="js/jquery.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--bootstrap是基于jQuery的框架-->
<script src="js/jquery.cookie.js"></script>
<script src="js/ask.js"></script>
</html>