{{include 'same/header'}}
    <style>

    </style>
</head>
<body>


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid container">
        <div class="navbar-header">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div class="reg">
            <ul class="nav navbar-nav">
                <li><a href="#">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form action="" method="post">
        <!--name属性必须写-->
        <input type="text" name="uname" placeholder="请输入昵称" required="" pattern="^[0-9a-zA-Z\u4e00-\u9fa5]{2,16}"/>
        <br/>
        <input type="password" name="pwd" placeholder="请输入密码" required="" pattern="^[0-9a-zA-Z\u4e00-\u9fa5]{2,16}"/>
        <br/>
        <input type="password" placeholder="请输入密码" required="" pattern="^[0-9a-zA-Z\u4e00-\u9fa5]{2,16}"/>
        <br/>
        <input type="radio" name="male" id="male"/>
        <label for="male">男士</label>
        <input type="radio" name="male" id="female"/>
        <label for="female">女士</label>
        <br/>
        <input type="email" name="email" placeholder="请输入邮箱"/>
        <br/>
        <select name="" id="dropdown">
            <option value="">HTML</option>
            <option value="">IOS</option>
            <option value="">JAVA</option>
        </select>
        <input type="submit" value="注册"/>
    </form>
</div>

{{include 'same/motai'}}

</body>

<script src="js/jquery.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/register.js"></script>
<!--bootstrap是基于jQuery的框架-->

</html>